:root{
    --white: #FFFFFF;
    --primary: #F59E0B;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background-image: url('/public/bg_clima.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    font-size: 2rem;
    height: 100vh;
}